@charset "utf-8";

/*Slideshow images*/
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(-225deg, #a1a7a0 17%, #ffffff 20%);
}

.slider {
    border: 2px solid rgb(255, 255, 255);
    margin: 380px;
    margin-left: 1%;
    margin-right: 50%;
    margin-bottom: 0;
    margin-top: 1%;
    overflow: hidden;
    border-radius: 1px;
}

.slider, .slider-img, .img img{
    max-width: 100%;
    display: block;
    position: relative;
    animation: zoom 1s ease;
}

@keyframes zoom{
    0%{transform: scale(2); opacity: 0;}
    100%{transform: scale(1); opacity: 1;}
}

.slider, .slider-img, .img{
    display: none;
}

.slider, .slider-img, .img.active{
    display: block;
}

.slider .left-slide, .slider .right-slide{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #252323;
    border-radius: 50%;
    color: #ffffff;
    font-size: 14px;
    top: 50%;
    cursor: pointer;
    margin-top: -20px;
    text-align: center;
    line-height: 40px;
    transition: all .5s ease;
}

.slider .left-slide:hover, .slider .right-slide:hover{
    background-color: rgb(235, 41, 41);
    box-shadow: 0px 0px 15px white;
}

.slider .left-slide{
    left: 30px;
}

.slider .right-slide{
    right: 30px;
}
/*Slideshow images*/

/* Contenedor de información del producto */
#container-productInfo{
    background-color: rgb(189, 32, 32);
    box-shadow: 4px 2px 2px gray;
    text-align: center;
    color: rgb(80, 80, 78);
    text-shadow: 0px 1px 2px black;
    inline-size: 40%;
    margin-top: -35%;
    margin-left: 58%;
    padding-bottom: 5%;
    border-radius: 2%;
}

#container-productInfo .costPrd, .countPrd, .lead {
    font-size: 20px;
    color: rgb(250, 239, 239);
    background: rgb(114, 114, 114);
    inline-size: 30%;
    border-radius: 5px;
    box-shadow: 0px 1px 2px black;
}

/* Descripción del producto */
#cnt-descInfo {
    text-align: center;
    margin-left: 1%;
    margin-top: 5%;
    margin-bottom: -13.7%;
    box-shadow: 3px 2px 3px black;
    inline-size: 50%;
    border-radius: 5px;
}

/*Caja de comentarios*/
.commentProduct{
    border: 2px solid black;
    inline-size: 40%;
    margin-left: 2%;
    margin-right: auto;
}

/* Comentario genérico/descripción */
.commentDesc {
    font-size: 20px;
    color: rgb(226, 75, 15);
    text-shadow: 1px 1px 2px black;
    margin-left: 10%;
}

/*Productos relativos*/
.productsRel {
    font-family: monospace;
    background-color: rgb(255, 255, 255);
    font-size: 23px;
    inline-size: 45%;
    margin-left: auto;
    margin-right: 1%;
    margin-top: -10%;
    margin-bottom: 10%;
    box-shadow: 0px 2px 3px black;
}

/*Titulo de caja de comentarios*/
.titleComment{
    font-size: 50px;
    inline-size: 30%;
    margin-left: 2%;
    margin-right: auto;
    margin-top: -38%;
}

/*Estrellitas*/
#form {
    width: 250px;
    margin: 0 auto;
    height: 250px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }

#commentArea {
    margin-left: 50%;
    margin-top: -22%;
    inline-size: 50%;
}

#commentArea button[type="submit"]{
    margin-left: 13%;
}


/*Clasificación del usuario*/
.clasificacion{
 font-size: 30px;
}

/*Volver atrás*/
.goBack{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 2px solid rgb(109, 107, 106);
    inline-size: 20%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    font-size: 150%;
}

/* Añadir al carrito */
.buyPrd{
    font-size: 18px;
    margin-top: 15%;
    margin-bottom: -30;
    border: 1px solid black;
    inline-size: 30%;
}