@charset "utf-8";

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(-225deg, #a1a7a0 17%, #ffffff 20%);
}

.container{
    border: 2px black;
}

/*Slideshow images*/
.slider {
    border: 2px solid rgb(255, 255, 255);
    margin: 380px;
    margin-left: 1%;
    margin-right: 50%;
    margin-bottom: 0;
    margin-top: 1%;
    overflow: hidden;
    border-radius: 5px;
}

.slider, .slider-img, .img img{
    max-width: 100%;
    display: block;
    position: relative;
    animation: zoom 1s ease;
}

@keyframes zoom{
    0%{transform: scale(2); opacity: 0;}
    100%{transform: scale(1); opacity: 1;}
}

.slider, .slider-img, .img{
    display: none;
}

.slider, .slider-img, .img.active{
    display: block;
}

.slider .left-slide, .slider .right-slide{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #252323;
    border-radius: 50%;
    color: #ffffff;
    font-size: 14px;
    top: 50%;
    cursor: pointer;
    margin-top: -20px;
    text-align: center;
    line-height: 40px;
    transition: all .5s ease;
}

.slider .left-slide:hover, .slider .right-slide:hover{
    background-color: rgb(235, 41, 41);
    box-shadow: 0px 0px 15px white;
}

.slider .left-slide{
    left: 30px;
}

.slider .right-slide{
    right: 30px;
}
/*Fin - Slideshow images*/



/* Contenedor de información del producto */
#container-productInfo{
    color: rgb(80, 80, 78);
    text-shadow: 0px 1px 2px black;
    inline-size: 40%;
    margin-left: auto;
    margin-top: -36%;
}

#container-productInfo .costPrd, .countPrd, .lead {
    font-size: 20px;
    color: rgb(250, 239, 239);
    background: rgb(114, 114, 114);
    inline-size: 25%;
    border-radius: 5px;
    box-shadow: 0px 1px 2px black;
}

/* Añadir al carrito */
.buyPrd{
    font-size: 18px;
    border: 1px solid black;
    margin-left: 32%;
    margin-right: auto;
}

/* Descripción del producto */
#cnt-descInfo {
    margin-top: 2%;
    margin-bottom: 5%;
    box-shadow: 3px 2px 3px black;
    border-radius: 5px;
    inline-size: auto;
    font-size: 20px;
}

/*Productos relativos*/
.productsRel {
    inline-size: 30%;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    text-align: center;
    box-shadow: 0px 2px 3px black;
    float: left;
    margin-left: 10%;
    margin-bottom: 8%;
}


/*Caja de comentarios*/
.commentProduct{
    box-shadow: 1px 1px 2px rgb(204, 203, 203);
    inline-size: 50%;
    display: inline-block;
}


/*Estrellitas*/
#form {
    width: 250px;
    margin: 0 auto;
    height: 250px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }

/* Area de comentarios */
#commentArea {
    inline-size: 50%;
    margin-top: 10%;
}

#commentArea button[type="submit"]{
    margin-left: 13%;
}

/*Clasificación del usuario*/
#clasificacion{
    margin-bottom: 3%;
}

/*Volver atrás*/
.goBack{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 1px solid rgb(109, 107, 106);
    inline-size: 20%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    font-size: 150%;
}
