:root {
	--fuente-principal: 'Poppins', monospace;

	--color-primario: #d8cb19de;
	--color-fuente: #e62d83;
	--blanco: #FFF;
	--negro: #000;
	--gris: #666;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; /* 1rem == 10px */
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/** Globales  **/
body {
	font-family: var(--fuente-principal);
	font-size: 2rem;
}
img {
	width: 100%;
	border-radius: 2rem;
}
h1 {
	font-size: 5rem;
	font-family: var(--fuente-principal);
}
input {
	font-family: var(--fuente-principal);
}
label {
	font-family: var(--fuente-principal);
	text-shadow: 0px 1px 1px var(--blanco);
}

/* Utilidades */
.box-shdw {
	box-shadow: 2px 2px 2px var(--gris);
}
.txt-shdw {
	text-shadow: 1px 1px 1px var(--negro);
}

/* Form */
@media (min-width: 768px) {	
	.flex-container {
		width: 50%;
	}
}
.form-container {
	padding: 2rem;
	width: 100%;
	margin: 2rem auto;
}
.flex-container {
	background-color: var(--color-primario);
	margin: 0 auto;
	border-radius: 2rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.flex-items {
	text-align: center;
	padding: 1rem;
}
.form-title {
	text-align: center;
	animation: title-chg 3s infinite alternate;
}
@keyframes title-chg {
	from {
		color: var(--blanco);
	}
	to{
		color: var(--color-fuente);
	}
}

.form-title > img {
	border-bottom: .5rem solid gray;
}
.flex-items {
	display: flex;
	justify-content: center;
	align-items: center;
}
.items {
	padding: 1rem;
	margin-left: -3rem;
	transform: translateY(2rem);
	color: var(--blanco);
}
.inputs {
	flex: 0 0 2rem;
	color: var(--color-fuente);
}
.inputs__option {
	border: none;
	outline: none;
	background: none;
	
	height: 3rem;
	width: 15rem;
	border-bottom: .2rem solid var(--blanco);
	color: var(--color-fuente);
}
@media (min-width: 768px) {
	.inputs__option {
		width: 25rem;
	}
}

/* Form button */
.btn-cnt {
	margin: 2.5rem;
}
.btn-cnt__button {
	background: none;
	border: none;
	outline: none;

	background-color: var(--color-fuente);
	color: var(--blanco);
	width: 100%;
	padding: 1.5rem;
	border-radius: 5rem;
}
.btn-cnt__button:hover {
	transition: .2s ease-in;
	transform: translateY(.5rem);
}