  
  body {
    font-family: "Open Sans", sans-serif;
    background: url("https://www.eluniversal.com.mx/sites/default/files/2019/11/22/mexico-mercado-comercio-movil.jpg") 50% fixed;
    background-size: cover;
  }

  /* estilo de formulario */
  #signin {
    margin: auto;
    border-radius: 2px 2px 5px 5px;
    padding: 10px 20px 20px 20px;
    width: 390px;
    height: 610px;
    margin-top: 7px;
    background: #ffffff;
    padding-bottom: 75px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
    background-image: linear-gradient(-225deg, #64cf4e 10%, #ffffff 20%);
    box-shadow: 2px 3px 4px black;
  }


  /* estilo del titulo */
  #first-title {
    color: rgb(223, 37, 115);
    font-family: fantasy;
    font-style: normal;
    letter-spacing: 4px;
    text-shadow: 2px 2px 2px black;
  }

  .title {
    color: #444;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 30px 0;
    text-shadow: 1px 1px 1px black;
  }

  /* estilo de submit */

  .buttonSignIn {
    margin-top: 10px;
    background-image: linear-gradient(-225deg, #64cf4e 20%, #ffffff 30%);
    color: rgb(7, 7, 7);
    padding: 10px 25px;
    text-align: center;
    font-family: monospace;
    display: inline-block;
    font-size: 18px;
    border-radius: 25px;
    text-shadow: 2px 2px 6px rgb(0, 0, 0);
    filter: drop-shadow(0 -0mm 3mm rgb(7, 7, 7));
  }



  .check-pass {
    margin-top: 20px;
    color: rgb(223, 37, 115);
    text-shadow: 1px 1px 5px black;
  }

  /* estilo de datos personales*/

  .datos-user .datos-style {
    font-size: 18px;
  }

  .datos-user input[type=email] {
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: rgb(206, 14, 14);
    border: 1px solid gray;
  }

  .datos-user input[type=password] {  
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: rgb(206, 14, 14);
    border: 1px solid gray;
  }